@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
canvas {
  margin-left: 400px;
  display: none;
}

body .scene {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}

.keyframes {
  width: calc(100% - 280px);
  position: absolute;
  bottom: 0;
  left: 280px;
  color: #728995;
  height: 60px;
  padding: 31px 20px 15px 6px;
  background: #282938;
}
.keyframes canvas {
  position: absolute;
  display: block;
  margin: 0;
  left: 0;
  background: wheat;
}
.keyframes_control {
  position: absolute;
  top: -39px;
  width: calc(100% - 45px);
  background: #20212d;
  left: 0;
  padding: 10px;
}
.keyframes_control .controls {
  float: right;
}
.keyframes_control .controls input, .keyframes_control .controls h4 {
  float: left;
  clear: none;
}
.keyframes_control .controls input {
  float: left;
  background: transparent;
  border: 1px solid #555877;
  outline: none;
  border-radius: 4px;
  padding: 6px 10px;
  text-align: center;
  color: #bea5dd;
  width: 50px;
  box-sizing: border-box;
  font-size: 9px;
}
.keyframes_control .controls input[type=checkbox] {
  float: right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  padding: 0;
  position: relative;
  margin-left: -6px;
  top: 3px;
  background: transparent;
  border: 1px solid #555877;
  outline: none;
  border-radius: 4px;
  text-align: center;
  color: #bea5dd;
  box-sizing: border-box;
  font-size: 9px;
  cursor: pointer;
}
.keyframes_control .controls input[type=checkbox]:checked::after {
  content: "";
  display: block;
  font-size: 7px;
  font-family: "fontawesome";
  color: #787a8a;
  position: relative;
  top: 1px;
  left: 0px;
}
.keyframes_control .controls h4 {
  margin-left: 30px;
}
.keyframes_control .controls div {
  float: left;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  font-size: 12px;
}
.keyframes_control .controls div:hover {
  color: #81f0ef;
}
.keyframes_control .controls div i {
  position: relative;
  top: 4px;
}
.keyframes_control h4 {
  margin: 0;
  text-transform: uppercase;
  color: #81f0ef;
  margin: 4px 14px 0;
  font-weight: 600;
  clear: both;
  float: left;
  position: relative;
  top: 2px;
  font-size: 9px;
}
.keyframes .frame {
  height: 47px;
  background: #2f303e;
  cursor: pointer;
  float: left;
  border-radius: 4px;
  width: 70px;
  border: 1px solid #555877;
  margin: 4px -10px 4px 19px;
  position: relative;
  opacity: 0.6;
}
.keyframes .frame canvas {
  background: #2f303e;
  height: 100%;
  border-radius: 4px;
  width: 100%;
}
.keyframes .frame img {
  width: 100%;
}
.keyframes .frame.activeF {
  border: 1px solid #81f0ef;
  opacity: 1;
}
.keyframes .frame.activeF .frameTitle {
  color: white;
}
.keyframes .frame .frameTitle {
  position: absolute;
  font-weight: 400;
  top: -16px;
  left: -1px;
  z-index: 1;
  color: #8789a9;
  font-size: 8px;
}
.keyframes .frame:hover .fa-trash,
.keyframes .frame:hover .fa-copy {
  opacity: 1;
}
.keyframes .fa-trash,
.keyframes .fa-copy {
  position: absolute;
  bottom: 5px;
  font-size: 11px;
  z-index: 1;
  right: 5px;
  opacity: 0;
  transition: all 0.2s;
}
.keyframes .fa-trash:hover,
.keyframes .fa-copy:hover {
  color: #81f0ef;
}
.keyframes .fa-copy {
  right: 19px;
}
.keyframes .playhead {
  width: 1px;
  height: 102px;
  background: white;
  position: absolute;
  top: 0;
  left: 25px;
  z-index: 11;
}
.keyframes .frames {
  width: calc(100% - 140px);
  float: left;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 110px;
  position: relative;
  top: -20px;
  padding-top: 19px;
}
.keyframes .frames .o {
  position: absolute;
  z-index: 1033;
  height: 200px;
  top: -10px;
  width: 100px;
  right: 0;
  background: -webkit-linear-gradient(left, rgba(125, 185, 232, 0) 0%, #282938 100%);
}
.keyframes .frames .wrap {
  width: 100000px;
}
.keyframes .add {
  height: 67px;
  cursor: pointer;
  float: right;
  border-radius: 4px;
  width: 70px;
  text-align: center;
  color: white;
  background: #363851;
  margin: -12px 23px 4px 19px;
  line-height: 67px;
  opacity: 0.6;
  transition: all 0.2s;
}
.keyframes .add:hover {
  opacity: 1;
}
.keyframes .play,
.keyframes .stop {
  float: right;
}

.pcount {
  position: absolute;
  right: -180px;
  font-size: 10px;
}
.pcount p {
  width: 150px;
  margin: 4px 0;
  opacity: 0.3;
  font-size: 9px;
  line-height: 13px;
}
.pcount span {
  opacity: 0.3;
}
.pcount span.c {
  opacity: 1;
}
.pcount h5 {
  margin: 0 0 7px 0;
  font-size: 10px;
  color: #81f0ef;
}

.zoom {
  transform: scale(1);
  position: absolute;
  width: calc(100% - 280px);
  height: 100vh;
  top: 0;
  right: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

* {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

body {
  background: #2f303e;
  color: white;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}
body .pan {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
body .scene {
  height: 200px;
  transition: transform 1s, top 0.2s, left 0.2s;
  border: 1px solid #d0baef;
}
body .scene .symx {
  height: 120%;
  width: 2px;
  background: red;
  position: absolute;
  left: 50%;
  transform: translateY(-10%) translateX(-1px);
  z-index: 100;
}
body .scene .symy {
  height: 2px;
  width: 120%;
  background: red;
  position: absolute;
  top: 50%;
  transform: translateY(-1px) translateX(-10%);
  z-index: 100;
}
@-webkit-keyframes spin {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
body .scene.Spin {
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}
@-webkit-keyframes bounce {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-60%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-60%);
  }
  100% {
    transform: translateY(-50%);
  }
}
body .scene.Bounce {
  -webkit-animation: bounce 1s linear infinite;
          animation: bounce 1s linear infinite;
}
@-webkit-keyframes wobble {
  0% {
    transform: translateY(-50%) translateX(-10px);
  }
  50% {
    transform: translateY(-50%) translateX(10px);
  }
  100% {
    transform: translateY(-50%) translateX(-10px);
  }
}
@keyframes wobble {
  0% {
    transform: translateY(-50%) translateX(-10px);
  }
  50% {
    transform: translateY(-50%) translateX(10px);
  }
  100% {
    transform: translateY(-50%) translateX(-10px);
  }
}
body .scene.Wobble {
  -webkit-animation: wobble 1s linear infinite;
          animation: wobble 1s linear infinite;
}
body .scene.reflect {
  -webkit-box-reflect: below 10px -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 76%, white 107%);
}
body .scene .row, body .scene .col {
  position: absolute;
  top: 0;
}
body .scene_pixelrow {
  box-shadow: 0px 1px rgba(255, 255, 255, 0.2) inset, 1px 0px rgba(255, 255, 255, 0.2) inset;
  pointer-events: none;
}
body .scene_pixelcolumn {
  float: left;
  box-shadow: 0px 1px rgba(255, 255, 255, 0.2) inset, 1px 0px rgba(255, 255, 255, 0.2) inset;
  z-index: 10;
}
body .scene_pixel {
  position: absolute;
  float: left;
}
body .picker {
  transform: translateY(0);
  left: 340px;
  top: 100px;
  position: relative;
  background: #363851;
  padding: 20px;
  border-radius: 4px;
  width: 182px;
  height: 235px;
}
body .picker .pick:hover .tipt {
  opacity: 1;
  top: 220px;
}
body .picker .tipt {
  padding: 6px 10px;
  background: #ae88f0;
  transition: all 0.2s;
  opacity: 0;
  top: 230px;
  pointer-events: none;
  width: 80px;
  font-weight: 600;
  font-size: 10px;
  left: 140px;
  border-radius: 4px;
  text-transform: uppercase;
  color: white;
  position: absolute;
  text-align: center;
}
body .picker .col {
  border: 2px solid white;
  width: 20px;
  height: 14px;
  background: White;
  border-radius: 4px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  top: -3px;
}
body .picker .output {
  font-size: 10px;
  font-weight: 600;
  margin-left: 10px;
  display: none;
}
body .picker h2 {
  font-size: 11px;
  margin-bottom: -6px;
  margin-top: 30px;
  float: left;
  text-transform: uppercase;
  color: #81f0ef;
  margin: 0;
  font-weight: 600;
  clear: both;
  position: absolute;
  top: -30px;
  left: 0px;
}
body .picker h2 i {
  margin-right: 6px;
}
body .extras {
  position: absolute;
  right: 0;
  height: 100% vh;
  top: 150px;
}
body .overlay {
  background: #2f303e;
  height: 116px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 280px;
}
body .name {
  width: 120px !important;
  float: left;
  background: transparent;
  border: 1px solid #555877;
  outline: none;
  margin-left: 10px;
  border-radius: 4px;
  padding: 12px 12px;
  text-align: left;
  position: relative;
  color: #bea5dd;
  box-sizing: border-box;
  font-size: 9px;
}
body .tools {
  position: relative;
  left: 409px;
  padding: 20px;
  margin-top: 28px;
  width: calc(100% - 440px);
}
body .tools .tipt {
  padding: 6px 10px;
  background: #ae88f0;
  transition: all 0.2s;
  opacity: 0;
  top: 32px;
  pointer-events: none;
  width: 80px;
  font-weight: 600;
  font-size: 10px;
  left: -40px;
  border-radius: 4px;
  text-transform: uppercase;
  color: white;
  position: absolute;
  text-align: center;
}
body .tools div {
  float: left;
}
body .tools div:hover .tipt {
  opacity: 1;
  top: 30px;
}
body .tools_zoom {
  width: 230px;
  text-transform: uppercase;
  font-size: 11px;
  float: left;
  position: relative;
  margin-right: 20px;
}
body .tools_zoom .tip {
  padding: 6px 10px;
  background: #ae88f0;
  transition: opacity 0.2s;
  opacity: 0;
  top: 30px;
  font-weight: 600;
  font-size: 10px;
  left: -14px;
  border-radius: 4px;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
}
body .tools_zoom h5 {
  position: absolute;
  font-weight: 700;
  top: -11px;
  left: -90px;
}
body .tools_grid, body .tools_pan, body .tools_save, body .tools_center, body .tools_symx, body .tools_symy {
  color: #81f0ef;
  transition: all 0.2s;
  position: relative;
  top: -1px;
  font-size: 18px;
  margin: 0px 20px;
  cursor: pointer;
}
body .tools_grid:hover, body .tools_pan:hover, body .tools_save:hover, body .tools_center:hover, body .tools_symx:hover, body .tools_symy:hover {
  color: #81f0ef !important;
}
body .tools_grid.inactive, body .tools_pan.inactive, body .tools_save.inactive, body .tools_center.inactive, body .tools_symx.inactive, body .tools_symy.inactive {
  color: #464753;
}
body .tools input[type=submit], body .tools .tools_export_png {
  padding: 16px 26px;
  border-radius: 3px;
  margin-top: -14px;
  float: right !important;
  font-weight: 600;
  font-size: 11px;
  margin-right: 20px;
  transition: all 0.2s;
  cursor: pointer;
}
body .tools input[type=submit] i, body .tools .tools_export_png i {
  transition: all 0.2s;
  margin-right: 10px;
}
body .tools input[type=submit]:hover i, body .tools .tools_export_png:hover i {
  margin-right: 20px;
}
body .tools input[type=submit] {
  background: #ae88f0;
  color: white;
  border: none;
  outline: 0;
  font-family: "Montserrat", sans-serif;
}
body .tools input[type=submit]:hover {
  background: #8f5bea;
}
body .tools_export_png {
  background: #81f0ef;
  color: #41a09f;
}
body .tools_export_png:hover {
  background: #53ebe9;
}
body .tools_export_code {
  float: right !important;
}
body .menu {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  background: #363851;
  width: 200px;
  padding: 40px;
}
body .menu_options__psize {
  position: relative;
}
body .menu button {
  width: 41px;
  float: left;
  margin-right: 9px;
  background: transparent;
  border: 1px solid #555877;
  outline: none;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 6px;
  padding: 12px 10px;
  text-align: center;
  color: #bea5dd;
  box-sizing: border-box;
  font-size: 9px;
  transition: all 0.2s;
  cursor: pointer;
}
body .menu button.active {
  background: #81f0ef;
  border: 1px solid #81f0ef;
  color: #363851;
}
body .menu button:hover {
  background: #81f0ef;
  border: 1px solid #81f0ef;
  color: #363851;
}
body .menu_logo {
  border-bottom: 1px solid #555877;
  padding-bottom: 30px;
  margin-bottom: 10px;
}
body .menu img {
  width: 165px;
}
body .menu h2,
body .menu h3,
body .menu h4 {
  text-transform: uppercase;
  color: #81f0ef;
  margin: 0;
  font-weight: 600;
  clear: both;
}
body .menu h2.abs,
body .menu h3.abs,
body .menu h4.abs {
  position: absolute;
  top: 104px;
  left: 73px;
}
body .menu h2 {
  font-size: 11px;
  margin-bottom: -6px;
  margin-top: 30px;
  float: left;
}
body .menu h3 {
  font-size: 9px;
  margin-top: 10px;
  margin-bottom: 8px;
}
body .menu h4 {
  font-size: 9px;
  margin-top: 10px;
  color: #8789a9;
  margin-bottom: 8px;
  float: left;
}
body .menu h4 i {
  float: left;
  position: relative;
  top: 1px;
  margin-right: 5px;
}
body .menu p {
  width: 100%;
  font-size: 9px;
  float: left;
  clear: both;
  line-height: 15px;
  color: #8789a9;
  border-bottom: 1px solid #555877;
  padding-bottom: 18px;
  margin-bottom: 18px;
}
body .menu input {
  width: 63px;
  float: left;
  background: transparent;
  border: 1px solid #555877;
  outline: none;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 6px;
  padding: 12px 10px;
  text-align: center;
  color: #bea5dd;
  box-sizing: border-box;
  font-size: 9px;
}
body .menu input.inactive {
  color: #6e6489;
}
body .menu input[type=checkbox] {
  float: right;
  -webkit-appearance: none;
  appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 12px;
  height: 12px;
  padding: 0;
  position: relative;
  top: 3px;
  cursor: pointer;
}
body .menu input[type=checkbox]:checked::after {
  content: "";
  display: block;
  font-size: 7px;
  font-family: "fontawesome";
  color: #787a8a;
  position: relative;
  top: 1px;
  left: 0px;
}
body .menu select {
  clear: both;
  float: left;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  float: left;
  background: transparent;
  border: 1px solid #555877;
  outline: none;
  font-weight: 600;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 6px;
  text-transform: uppercase;
  padding: 12px 10px;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  font-size: 9px;
}
body .menu label {
  cursor: pointer;
}
body .menu label.active h4 {
  color: white;
}
body .menu_animations__animation {
  position: relative;
  clear: both;
}
body .menu_animations__animation::after {
  content: "";
  display: none;
  font-size: 8px;
  font-family: "fontawesome";
  color: #787a8a;
  position: absolute;
  top: 48px;
  right: 14px;
}
body .menu .x {
  font-size: 8px;
  display: block;
  float: left;
  position: relative;
  top: 18px;
  margin: 0 10px;
  color: #bea5dd;
}
body .menu .lock {
  width: 26px;
  float: left;
  height: 26px;
  background: #2f303e;
  border-radius: 4px;
  position: relative;
  top: 10px;
  text-align: center;
  line-height: 27px;
  font-size: 12px;
  color: #b6a5d3;
  transition: all 0.2s;
  cursor: pointer;
}

.sp-button-container.sp-cf {
  display: none;
}

.fa-crosshairs {
  position: absolute;
  right: 30px;
  bottom: 24px;
  color: #555877;
  transition: all 0.2s;
  cursor: pointer;
}
.fa-crosshairs.active, .fa-crosshairs:hover {
  color: #81f0ef;
}

.pickOverlay {
  display: none;
  border: 2px solid white;
  width: 40px;
  position: absolute;
  height: 20px;
  border-radius: 4px;
  background: white;
}

.sp-container {
  background: none;
  border: none;
  padding: 0;
}

.sp-picker-container {
  border: none;
  margin-top: 14px;
}

.sp-dd {
  left: 10px;
  position: relative;
  font-size: 0px;
}
.sp-dd::after {
  content: "";
  display: block;
  font-size: 8px;
  font-family: "fontawesome";
  color: #787a8a;
  position: relative;
  top: -17px;
  left: 10px;
}

.sp-replacer {
  background: none;
  width: 50%;
  float: left;
  background: transparent;
  border: 1px solid #555877 !important;
  outline: none;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 6px;
  padding: 7px 7px;
  text-align: center;
  color: #bea5dd;
  box-sizing: border-box;
  font-size: 9px;
}

.coutput {
  float: right;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  top: 15px;
}

.sp-color, .sp-val, .sp-sat {
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.sp-preview {
  border-radius: 3px;
  width: 44px;
  overflow: hidden;
  height: 20px;
  border: none;
}

.sp-hue {
  border: none;
  width: 3px;
  border-radius: 10px;
  margin-left: 16px;
}

.sp-dragger {
  transform: translateY(3px) translateX(3px);
  background: none !important;
}

.sp-slider,
.sp-dragger {
  position: absolute;
  top: 0;
  cursor: pointer;
  height: 11px;
  width: 11px;
  left: -6px;
  top: 4px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: #363851;
  opacity: 1;
}

.sp-flat {
  margin-top: -13px;
}

[type=range] {
  -webkit-appearance: none;
  margin: 7px 0;
  width: 100%;
}
[type=range]:focus {
  outline: 0;
}
[type=range]:focus::-webkit-slider-runnable-track {
  background: #525361;
}
[type=range]:focus::-ms-fill-lower {
  background: #464753;
}
[type=range]:focus::-ms-fill-upper {
  background: #525361;
}
[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
  height: 3px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  box-shadow: 0px 0px 0px #464753, 0 0 0px #525361;
  background: #464753;
  border: 0px solid red;
  border-radius: 0px;
}
[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0 0px rgba(13, 13, 13, 0.2);
  background: #2f303e;
  border: 2px solid #81f0ef;
  border-radius: 7px;
  cursor: pointer;
  height: 14px;
  width: 14px;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
[type=range]::-moz-range-track {
  cursor: pointer;
  height: 3px;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  box-shadow: 0px 0px 0px #464753, 0 0 0px #525361;
  background: #464753;
  border: 0px solid red;
  border-radius: 0px;
}
[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0 0px rgba(13, 13, 13, 0.2);
  background: #2f303e;
  border: 2px solid #81f0ef;
  border-radius: 7px;
  cursor: pointer;
  height: 14px;
  width: 14px;
}
[type=range]::-ms-track {
  cursor: pointer;
  height: 3px;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  background: transparent;
  border-color: transparent;
  border-width: 7px 0;
  color: transparent;
}
[type=range]::-ms-fill-lower {
  box-shadow: 0px 0px 0px #464753, 0 0 0px #525361;
  background: #3a3b45;
  border: 0px solid red;
  border-radius: 0px;
}
[type=range]::-ms-fill-upper {
  box-shadow: 0px 0px 0px #464753, 0 0 0px #525361;
  background: #464753;
  border: 0px solid red;
  border-radius: 0px;
}
[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0 0px rgba(13, 13, 13, 0.2);
  background: #2f303e;
  border: 2px solid #81f0ef;
  border-radius: 7px;
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin-top: 0;
}

select {
  display: none;
}

.select2-container--default .select2-selection--single {
  background-color: #363851;
  border: 1px solid #555877;
  border-radius: 4px;
  outline: 0;
  height: 38px;
}

.select2-results__option[aria-selected] {
  cursor: pointer;
  font-size: 10px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  display: none;
}

.select2-search--dropdown {
  display: none;
  padding: 4px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #ae88f0;
  color: white;
  /* font-size: 10px; */
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ae88f0;
}

.sp-input {
  font-size: 12px !important;
  border: 1px inset;
  padding: 4px 5px;
  margin: 10px 0 4px 0;
  width: 163px;
  background: transparent;
  border-radius: 3px;
  outline: none;
  border: 1px solid #555877 !important;
  color: #fff;
}

.select2-dropdown {
  background-color: #363851;
  border: 1px solid #555877 !important;
  border-radius: 4px !important;
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: -8px;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 7px;
  right: 11px;
  width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff;
  font-size: 10px;
  line-height: 28px;
  padding: 5px 12px;
}

.select2-container {
  width: 198px;
}